<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>login</title>
  </head>
  <body>
    <form class="" action="login" method="post">
      <input type="text" name="username" value="">
      <input type="Password" name="pass" value="">
      <button type="submit" name="button">Log In</button>
    </form>
  </body>
</html>
